/* universal setting */
body{
    margin: 0;
    background-color: antiquewhite !important;
}
p{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none !important; 
    color: white !important;
}

header{
    display: flex;
    width: 100%;
    align-items: center;
    position: fixed;
    background-color: #135740;
    color: white;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
header img{
    width: 5rem;
    margin-left: 4rem;
    margin-right: 3rem;
    border-radius: 5px;
}
/* main navigation menu */
.main_menu{
    width: 100%;
    display: flex;
    position: fixed;
    top: 7rem;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    background-color: #187254;
    color: white;
}
/* list style of the main navigation menu and the droplist */
li{
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}
.main_menu li {
    padding: 15px;
}
/* navigation droplist setup */
.main_menu li:hover ul.dropdownlist {
    display: block;
}
.dropdownlist{
    display: none;
    list-style-type: none;
    padding: 0;
    position: absolute;
    background-color: #135740;
    border-radius: 5px;
}
ul.dropdownlist li {
    padding: 10px;
}

/* Set the spacer's height equal to the banner height */
.spacer {
    height: 13rem; 
}