/* universal setting */
body{
    margin: 0;
    background-color: antiquewhite !important;
}
p{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none !important; 
    color: white !important;
}

header{
    display: flex;
    width: 100%;
    align-items: center;
    position: fixed;
    background-image: url('./footer.jpeg');
    background-size: cover;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
header img{
    width: 5rem;
    margin-left: 4vw;
    margin-right: 5vw;
    border-radius: 5px;
}
/* main navigation menu */
.main_menu{
    width: 100%;
    display: flex;
    position: fixed;
    top: 7rem;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    background-color: #187254;
    color: white;
    z-index: 2;
}
/* list style of the main navigation menu and the droplist */
li{
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}
.main_menu li {
    padding: 15px;
}
/* navigation droplist setup */
.main_menu li:hover ul.dropdownlist {
    display: block;
}
.dropdownlist{
    display: none;
    list-style-type: none;
    padding: 0;
    position: absolute;
    background-color: #135740;
    border-radius: 5px;
}
ul.dropdownlist li {
    padding: 10px;
}

/* Set the spacer's height equal to the banner height */
.spacer {
    height: 15vh; 
}

/* button */
.btn-group {
    padding-left: 1rem;
    position: fixed !important;
    top: 2rem;
    right: 1rem;
    z-index: 1;
}

/* clothes image */
.clothes {
    display: flex;
    margin-top: 2rem;
  }

.left-panel {
    width: 72vw;
    padding: 10px;
}

.clothes .right-panel {
    /* background-color: rgb(238, 238, 221); */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27vw;
    position: fixed;
    top: 20vh;
    right: 0;
    bottom: 1rem;
    overflow: scroll;
}

.clothes .right-panel::-webkit-scrollbar {
    width: 12px;
}

.clothes .selected-image {
    position: relative;
    margin-right: 10px;
    width: 100%;
  }

.clothes .selected-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 10rem;
}


.delete-icon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 2px;
    cursor: pointer;
}

.image-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    
}
.image-option img {
    width: 100%;
    transition: transform 0.3s;
}
.image-option img:hover {
    transform: scale(1.2); 
}


@media (max-width: 768px) {
    .btn-group{
        position: fixed !important;
        top: 20vh;
        left: 1rem;
    }
    .left-panel {
        width: 72vw;
        padding: 10px;
      }
    .clothes .right-panel {
        width: 50vw;
    }
    .left-panel{
        width: 50vw;
    }
    .spacer {
        height: 20vh; 
    }
    .clothes .right-panel{
        top: 25vh;
    }

}